## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*
\#*\#
/.emacs.desktop
/.emacs.desktop.lock

## VI
*.swp
*.swo
.*.sw[a-z]

## RAILS
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite5
/public/system/*
/coverage/
/spec/tmp/*
/public/files/*
# /config/*.yml
**.orig
rerun.txt
