<p>Que tal <%= @resource.email %>!</p>

<p>Para confirmar la cuenta favor de dar click en la siguiente liga</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>


