<p>Hola <%= @resource.email %>!</p>

<p>Para confirmar tu cuenta en Ofertas Hacker, da clicken la siguiente liga.</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>


