<p>Hola <%= @resource.email %>!</p>

<p>Solicitaron cambiar la contraseña de  <%=@resource.title%>, para crear una nueva contraseña as click en la siguiente liga</p>
<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no fuiste tu quien solicito el cambio de contraseña, simplemente ignora este correo</p>
<p>La contraseña no sera cambiada hasta que des click en el link y crees una nueva</p>
