<p>Hola <%= @resource.email %>!</p>

<p>Solicitaron cambiar la contraseña de <%=@resource.title%> en Ofertas Hacker, para crear una nueva contraseña haz click en la siguiente liga.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no fuiste tú quien solicitó el cambio de contraseña, simplemente ignora este correo. La contraseña no será cambiada hasta que des click en el link y crees una nueva.</p>
<p>Si tienes cualquier problema o situación, contáctanos a <%= mail_to "ofertashacker@innku.com" %></p>

<p>¡Saludos!</p>
<p>Equipo <strong>Ofertas Hacker</strong></p>

