<% custom_title "Ofertas disponibles"%>


		<!-- left colum starts -->
		
		<div class="mainContent clear span-12">
		  <ul class="posts">
		    <li>
		      <a href="">
			      <div class="span-4 prepend-8 last"><img class="" alt="" src="images/shareIcon.gif" width="" height=""></div>
			      <h1>Ruby &amp; Ruby on Rails Developer</h1>
			      <p>Highgroove Studios Atlanta in Atlanta, CO, COLIMA Full-Time, In House, Remote</p>
			    </a>
			  </li>
			  <li>
			    <a href="">
  		      <div class="span-4 prepend-8 last"><img class="" alt="" src="images/shareIcon.gif" width="" height=""></div>
  		      <h1>Ruby &amp; Ruby on Rails Developer</h1>
  		      <p>Highgroove Studios Atlanta in Atlanta, CO, COLIMA Full-Time, In House, Remote</p>
  		    </a>
  		  </li>
  		</ul>
		</div>
		
		<!-- right colum starts -->

		<div class="mainContent span-12 last">
  		<ul class="posts">
		    <li>
		      <a href="">
			      <div class="span-4 prepend-8 last"><img class="" alt="" src="images/shareIcon.gif" width="" height=""></div>
			      <h1>Ruby &amp; Ruby on Rails Developer</h1>
			      <p>Highgroove Studios Atlanta in Atlanta, CO, COLIMA Full-Time, In House, Remote</p>
			    </a>
			  </li>
			  <li>
			    <a href="">
  		      <div class="span-4 prepend-8 last"><img class="" alt="" src="images/shareIcon.gif" width="" height=""></div>
  		      <h1>Ruby &amp; Ruby on Rails Developer</h1>
  		      <p>Highgroove Studios Atlanta in Atlanta, CO, COLIMA Full-Time, In House, Remote</p>
  		    </a>
  		  </li>
  		</ul>
		</div>
