body {
  position:relative;
  width:85%;
  background-color: #1B3037;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
  text-decoration:none;
}
a:hover{text-decoration:underline;}
#header{
    height:50px;
}

#header #search_form{position:absolute;right:-42px;top:0px;}
#menu{position:relative;top:40px;}
#menu a{color:#fff;text-decoration:none;}
#menu a:hover{text-decoration:underline;}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 20px;
  border: solid 1px black;
  margin-top: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px #222;
    -moz-box-shadow: 5px 5px 10px #222;
}

#footer{
    text-align:center;
    margin-top:5px;
    border: solid 1px black;
    width:100%;
    padding: 1px 20px;
    height:23px;
    background:#2c89a0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    
}
.job{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:#fff;
    padding:10px;
    margin:10px;
    -webkit-box-shadow: -5px 5px 15px #666;
    -moz-box-shadow: -5px 5px 15px #666;
}
#job_wrapper .job{
    width:60%;
    display:inline-block;
    height:180px;
    overflow:hidden;
    position:relative;
}
#job_wrapper .job img{
    position:absolute;
    top:10px;
    right:10px;
}
#job_wrapper .job:hover{background:#eee;}

#job_wrapper .job #options{
    position:absolute;
    bottom:10px;
    right:10px;
}
/*Job Skills*/

#all_skills{
    width:400px;
    position:relative;
    height:300px;
    -webkit-box-shadow: -5px 5px 10px #666;
    -moz-box-shadow: -5px 5px 10px #666;
}
#job_skills{
    position:absolute;
    top:0px;
    left:0px;
    width: 30%;
    color:red;
}
.skill, .required_skill{

    cursor:pointer;
    margin-bottom:2px;
}

.skill:hover, .required_skill:hover{
    color:#fff;
    background:#333;
}
#job_required_profile{
    position:absolute;
    top:0px;
    right:0px;
    width:40%;
    color:green;
}
#all_skills #arrow{
    position:absolute;
    top:50px;
    left:160px;
}
#all_skills #arrow_back{
    position:absolute;
    top:80px;
    left:160px;
}
#job_required_profile{list-style-image:url(/images/bullet_checkmark.jpg);}
#job_skills{list-style-image:url(/images/bullet_cross.gif);}
/*Form CSS3*/

input, textarea { 
	padding: 9px;
	border: solid 1px #D4D4D4;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 15px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.form label { 
	margin-left: 10px; 
	color: #999999; 
	}

 input.submit  {
	width: auto;
	padding: 9px 15px;
	background: #2c89a0;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

/*Flash and Errors*/
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

/* mensajes de error para formas */
.error {
	/* supply height to ensure consistent positioning for every browser */
	height:25px;
	background-color:#2c89a0;
	border:1px solid #E1E16D;
	font-size:11px;
	color:#fff;
	padding:3px 10px;
	margin-top:-5px;
	margin-left:-2px;


	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
