@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: normal;
  src: local('Arvo'), url('http://themes.googleusercontent.com/font?kit=MViwy4K6e56oHcyeMzjbCQ') format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: bold;
  src: local('Arvo Bold'), local('Arvo-Bold'), url('http://themes.googleusercontent.com/font?kit=F-uvpIj1hF17IDyvQvI50Q') format('truetype');
}
div#contacto{padding-top:20px;}
.divShadow.span-24.buttons{height:80px;}

.mainContent.span-23 {
    padding:20px;
    padding-top: 30px;
    margin-bottom:10px;
}
.mainContent ul.posts li {height:170px;}

#bottom.mainContent.span-23{
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;	
}
a.button  {
	width: auto;
	padding: 9px 15px;
	background: #066;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	text-decoration:none;
    
}
#extra_skill{padding-left:40px;}
a.button:hover{background:#C00;}
.job #company{
    float:right;
    padding:10px;
    padding-right: 50px;
}
#company:hover{
    background-color:#eee;
}
#company img {
    margin-top: 15px;
    margin-bottom: 15px;
}
#loader{margin-left:450px;margin-top:40px;}
.mainContent a div img {padding-left:5px;}
.mainContent ul.posts li{position:relative;}
.mainContent ul.posts p{position:absolute; bottom:0px;}

/*Flash and Errors*/
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 7px 0;
}

#flash_notice {
  color: #FFF;
  position: absolute;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
