/* For IE <= 7*/
#header a.twitter span {
  z-index:0;
  padding-top:10px!important;
  right:-22px!important;
}
div.span-20.prepend-5.last .calltoAction input { margin-top:20px;}
.shadow.company_profile {
  background: #FFF;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=300,strength=1)
        progid:DXImageTransform.Microsoft.Shadow(color=#666666,direction=120,strength=3);
}
.shadow.job {
  background: #FFF;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=120,strength=7);
}
#skills li span.links{
  position:relative;
  top:-20px;
}

#skills li{
  height:22px;
  background: #FFF;
  padding: 5px;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#666666,direction=120,strength=3);

}
.mainContent.span-24, .mainContent.span-23 {
  background:#fff;
  margin-top: -5px;
      filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=300,strength=3)      
        progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=120,strength=7);

}



.mainContent ul.posts li {postition:relative;left:0px;}
div#header {z-index:4;}
div#contacto p span {position:relative;right:10px;bottom:40px;}

#flash_notice, #flash_error, #flash_alert {
      filter: alpha(opacity=50);
}


