/* For IE 8*/
.shadow.company_profile {
  background: #FFF;
  background: url('/images/line.png') no-repeat;
  background-position:bottom;

}
#footer div{
  width:970px;
}
div.open_wrapper {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF3F6', endColorstr='#FFFFFF',GradientType=0 )!important;
  left:2px;

}

div#about #welcome .link{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CC00', endColorstr='#5E8B00',GradientType=0 )!important;
}
div#about #welcome .link:hover{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304F4F', endColorstr='#1C3030',GradientType=0 )!important;
}

div#about{
  position:absolute;
  left:2px;
  width:950px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF3F6', endColorstr='#FFFFFF',GradientType=0 );
}

div#about #welcome #top h1{
  padding-top:10px;
}

div#about #bottom_line{
  bottom:-200px;
}

.posts{position:relative!important;}
#loader{position:absolute; top:100px;left:50%;margin-left:-30px;z-index:9;display:block;display:none; }
#loader img{position:absolute; top:-25px;display:block;}
#loader p{font-size:18px; color:#000;text-align:center;}
@font-face {
  font-family: 'Arvo';
  src: url('Arvo-Regular-webfont.eot');
  src: url('Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


.mainContent input[type=text],.mainContent input[type=password]{
  height:27px;
  padding-top:8px;
}
.mainContent input[type=checkbox] {
  position:relative;
  top:4px;
}
#mainMenu input[type=checkbox] {
  position:relative;
  top:0px;
}

.button{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304F4F', endColorstr='#1C3030',GradientType=0 )!important;
}
.button:hover{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CC00', endColorstr='#5E8B00',GradientType=0 )!important;
}

.descriptionForm textarea{
  width:630px;
  height:242px;
  padding-top:8px;
}

.shadow.job {
  background: #FFF;
  margin-bottom:4px!important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=120, Color='#000000')"!important;
}
#skills li{
  background: #FFF;
  padding: 5px;
  filter:
  progid:DXImageTransform.Microsoft.Shadow(color=#666666,direction=120,strength=3);

}
div#contacto p span {position:relative;right:10px;bottom:40px;}

#flash_notice, #flash_error, #flash_alert {
  filter: alpha(opacity=50);
}

.mainContent.span-24, .mainContent.span-23 {
  background:#fff;
  margin-top: -5px;
  filter:
  progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=300,strength=2)      
  progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=120,strength=6);

}


