@font-face { font-family: Adelle Basic; src: url(/AdelleBasic_Bold.otf) format('opentype'); }
html {
  background:url("../images/bkg_pattern.png") repeat 0 0;

}

body {
  background:url("../images/bkg_line_pattern.png") repeat-x 0px 34px;
}

h1,h2,h3,h4,h5,h6 { color: #333; font-family:'Adelle Basic', arial; font-weight:normal!important; }

.mainContent ul li label{
  font-size:12px;
  font-family:arial, serif !important;
  display: inline;
}

#header {
  font-family: Adelle Basic, arial, serif;
  height:144px;
  position:relative;
}
#header .topMenu {
  text-transform:uppercase;
  color:#99BEC0;
  font-size:110% !important;
  display:block;
  height:30px;
  z-index:1000;
  position:relative;
}
#header .topMenu li {
  display:block;
  border-right:1px solid #99BEC0;
  padding-top:10px;
  float:right;
  margin:-1px 0 2px 0;
}
#header .topMenu a {
  color:#99BEC0;
  text-decoration:none;
}
#header .topMenu a span {
  padding:10px 10px 2px 15px;
  font-weight:normal!important;
}
#header .topMenu a:hover span {
  background:url("../images/bkg_topMenu.png") repeat-x 0 0;
  /*background:transparent;
  -moz-box-shadow:inset 0 0 10px #000000;
  -webkit-box-shadow:inset 0 0 10px #000000;
  box-shadow:inset 0 0 10px #000000;*/
}
#header .topMenu a span.current {
  background:url("../images/bkg_topMenu.png") repeat-x 0 0;
}
#header .logo {
  position: relative;
  top:-4px;
  z-index:2;
}

img#nuevas_ofertas{
  display:block;
  position:absolute;
  top:47px;
  right:10px;

}

#header a.twitter span {
  background:url("../images/icon_twitter.png") no-repeat 0 0;
  position:absolute;

  padding:24px;
  bottom:-5px;
  right:-22px;	
}

#header a:hover.twitter span {	
  background-position:0 -49px;
}
#mainMenu {
  text-transform:lowercase;
  display:block;
  margin:57px 0 0 20px;
  padding:0px 0px 0px 0px !important;
}
#mainMenu li {
  text-transform:lowercase;
  display:block;
  float:left;
  font-size:160%;
  color:#99CC00;
  margin-right:15px;
}
#mainMenu li label {
  padding-top:4px;
  margin-left: 4px;
  font-weight:normal;
}



/*================== HERE COMES THE CONTENT STYLES ====================*/
#leftMenu {
  padding:50px 0 0 0;
}

#leftMenu ul {
  margin:0;
  padding:15px 0px;
  background:#DADADA;
  display:block;
  overflow:hidden;
}

#leftMenu ul li {
  float:left;
  width:80%;
  background:#DADADA;
  padding:5px 15px;
}

.mainContent {
  background:#fff;
  -moz-box-shadow: 1px 2px 9px #000;
  -webkit-box-shadow: 1px 2px 9px #000;
  box-shadow: 1px 2px 9px #000;
  position:relative;
}


.mainContent ul.posts {
  margin:0px;
  padding:0px;
  overflow:hidden;
}
.mainContent ul.posts {float:left;}
.mainContent ul.posts li {
  border-bottom:1px solid #132E43;
  -moz-box-shadow: 0px 3px 7px #000;
  -webkit-box-shadow: 0px 3px 7px #000;
  box-shadow: 0px 3px 7px #000;
}

.mainContent a h1 {
  font-weight:normal;
  font-size:2.5em;
  margin-bottom:0.2em !important;
}

.mainContent a:hover h1 {
  color:#CC3333;
  text-decoration: none;
}

.mainContent a h1, .mainContent a p {
  display:block;
  padding-left:26px;
  text-decoration:none;
}
.mainContent a div img, .mainContent a div h4 {
  border-left:1px solid #132E43;
  margin-bottom:15px;
  padding:10px 0 0 0;
}
.mainContent a div h4 {
  display:block;
  padding-left:10px;
  padding-right:10px;
  min-height:35px;

}

.mainContent a p {
  color:#666;
}

.mainContent .infoCompany {
  font-family: arial, serif;
  padding-top:30px;
  text-align:right;
  border-right:1px solid #132E43;
}

.mainContent .infoCompany p{
  font-family: arial, serif;
  font-size:16px;
  margin:20px 10px 5px 10px;	
}

.session_links{
  font-family: georgia, helvetica neue;
  margin-top:35px;
  padding-right: 20px;
}

.mainContent label{
  font-size:2.5em;
  line-height:1;
  margin-bottom:0.4em;
  font-weight:normal;
  display:block;
  color: #333; 
  font-family:'Adelle Basic', arial, serif !important; 
}
.mainContent label.small_label{
  font-size:16px;
  display:inline;
  font-family:arial, serif !important;
}

.mainContent label.non_block{
  display:inline;
}

.mainContent label.message{
  font-size: 14px;
	color: #d00;
	font-weight: normal;
	margin: -20px 0 25px 0px;
}
.mainContent p.message {
  font-size:15px;
  color: #d00;
  font-family: "Adelle Basic", arial, serif;
  margin:10px 0 -10px 0;
}

.mainContent label.message.captcha{
  margin: 10px 0 25px 0px;
}
.mainContent a{
  color: #005B60;
  font-size: 12px;
  text-decoration: underline;
  border-bottom:0px;	
}

.mainContent a:hover{
  color: #2C89A0;
}

.mainContent .generalForm {
  margin:26px 0px 20px 0;	
}
.mainContent input[type=text],.mainContent input[type=password]{
  width:349px;	
  height:35px;
  background:#F1F1F1;
  border:1px solid #d9d9d9;
  margin-bottom:30px;
  font-size:16px !important;
  padding-left:15px;
}

.mainContent input[type=file] {
  padding-right:15px;
  color:green;
}

.firstColumn{
  float:left;
}

.secondColumn input[type=checkbox],.firstColumn input[type=checkbox]  {
  width:20px;
  height:20px;
  float:left;
}

.secondColumn ul, .job_type ul{
  margin-top:30px;
}

.secondColumn ul li, .job_type ul li{
  float:left;
  margin:0 10px 15px 0;
  width:145px;
}

.secondColumn label, .job_type ul li {
  margin-left:10px;
  float:left;
}

.topSpacing{
  margin-bottom:0px !important;
  padding-top: 35px;
}

.generalForm img {
  float:left;
}

.generalButton{
  float:left;
  margin-right:15px;	
}

.generalButton a{
  background:#CCCC00;
  border-top:1px solid #B8B800;
  border-left:1px solid #C3C300;
  border-right:1px solid #C3C300;
  font-size:16px;
  color:#003300;
  padding:5px 15px;
}

.generalButton a:hover{
  background:#33CCFF;
  border-top:1px solid #24A1CA;
  border-left:1px solid #29B5E4;
  border-right:1px solid #29B5E4;
}

.addRemove{
  padding: 110px 0 0 40px;
  text-align:center;
}

.addButton {
  background:#333333;
  border-top:1px solid #999999;
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  font-size:16px;
  color:#D9D93F;
  padding:3px 20px;
  float:left;
}

.removeButton {
  background:#CCCC00;
  border-top:1px solid #B8B800;
  border-left:1px solid #C3C300;
  border-right:1px solid #C3C300;
  font-size:16px;
  color:#003300;
  padding:3px 15px;
  float:left;
  margin-top:15px;
}

.addRemove .addbuton a:hover {
  background:#33CCFF;
  border-top:1px solid #24A1CA;
  border-left:1px solid #29B5E4;
  border-right:1px solid #29B5E4;
}

.cancelButton a{
  float:left;
  margin-right:15px;
  text-decoration:underline;
  color:#003300;
  font-size:14px;
}

.calltoAction a{
  background:#333333;
  border-top:1px solid #999999;
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  font-size:16px;
  color:#D9D93F;
}

.calltoAction input:hover{
  background: #5B5B5B;
  color: #EDED00;
  cursor: pointer;
}

.calltoAction input{
  background:#333333;
  border-top:1px solid #999999;
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  font-size:22px;
  color:#D9D93F;
  cursor: pointer;
  padding:5px 32px;
  float: left;
}

.remember_me{
  float:right;
  margin-right:100px;
}


.buttons1{
  right:33px;
  margin:32px 0px 20px 721px;
}

.closeIcon{
  float:left;
  margin:8px !important;
  width:13px;
}

.divShadow{
  background:url("../images/shadow.png") repeat-x 0 0;
}

.part2{
  margin-top:24px;
}

.skills li{
  float:left;
  margin:10px; 10px 15px 0;
}

.habilitiesList{
  background:#EDEDED;
  border:1px solid #D9D9D9;
  height:220px;
  margin-bottom:20px;
}

.habilitiesList ul li{
  color:#666666;
  font-size:16px;	
}

.profileList{
  background:#EDEDED;
  border:1px solid #D9D9D9;
  height:220px;
  margin-bottom:20px;
}

.profileList ul li{
  color:#666666;
  font-size:16px;	
}

.descriptionForm{
  margin-top:49px;
}

.descriptionForm h1 {
  display: inline; 

}
.descriptionForm a {
  margin-left: 15px;
}

textarea{
  font-family: arial, serif;
  width:630px;
  height:250px;
  background:#F1F1F1;
  border:1px solid #d9d9d9;
  margin: 20px 0 30px 0;
  font-size:16px !important;
  padding-left:15px;
}

/*================== HERE COMES THE FOOTER STYLES ====================*/
#footer {
  margin-top:40px;
  padding:0;
  width:100%;
  height:80px;
  background: #1A2F2F url('/images/line_footer_outside.png') repeat-x right top;
}
#footer div{
  background: url('/images/line_footer.png') no-repeat right top;
  margin:auto;
  width:955px;
  height:40px;
  padding:30px 0px 0px 0px;
}
#footer ul {
  padding:0;
  margin:auto;
}
#footer ul li {
  float:left;
  margin-right:20px;
}
#footer ul#follow li {
  margin-right:0px;
  margin-left:10px;
}
#footer ul li a {
  color:#CCCC00;
  text-decoration:none;
  text-transform:uppercase;
}
#footer ul li a:hover {
  text-decoration:underline;
}

/*================== PERFIL ====================*/			

.button{
  color: #FFF !important;
  text-decoration: none !important;
  padding: 10px;
  background: #304F4F;
  background: -moz-linear-gradient(top,  #304F4F, #1C3030);
  background: -webkit-gradient(linear, center top, center bottom, from(#304F4F), color-stop(50%,#1C3030));
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #122626;
  margin-right: 10px;
  cursor: pointer;

}
.button:hover{
  background: -moz-linear-gradient(top,  #99CC00, #5E8B00);
  background: -webkit-gradient(linear, center top, center bottom, from(#EAF3F6), color-stop(50%,#5E8B00));
  border: 2px solid #5E8B00;
  border-bottom: 0 none;
}
.button:active{
  background: -moz-linear-gradient(top,  #1C3030, #304F4F);
  background: -webkit-gradient(linear, left top, left bottom, from(#304F4F), to(#1C3030));
  border: 2px solid #2A4646;

}

#buttons{
  float: right;
  margin-right: 10px;
}

#Localizacion{
  float: left;
  padding-right: 50px;
  margin-right: 50px;
  border-right: 3px solid #CC3333;
}

#logoperfil{
  margin-top: 15px;
}

div.clear{
  clear:both;
}

/*================== HERE COMES THE INFO STYLES ====================*/

#right{
  float: right;
  width: 635px;
  padding-top: 15px;
  padding-right: 15px;
}

#right h1{
  margin-bottom: 3px;
  line-height: 1.3;
}

#right h2{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 3px;
}

#right h4{
  color: #888;
  font-size: 13px;
  font-style: italic;
}

#right p{
  line-height: 20px;
}

#left{
  max-width:230px;
  float: left;
  padding-right: 20px;
  padding-top: 15px;
}
#left #logo{
  overflow:hidden;
  max-width:210px;
}
#left #logo h3{
  padding-bottom:2px;
  line-height: 1.2;
}
#left #logo a{ text-decoration:none;}
#left #logo a:hover{ text-decoration:underline;}

.span-23{
  margin-bottom: 10px;
  padding: 30px 20px 20px;
}

.generalForm .tag{
  padding:4px 10px 0px 5px;
  background:#EFF2DF url(/images/tag.gif) no-repeat right top;
  float:left;
  margin:0px 10px 10px 0px;
  height:22px;
}

.generalForm .tag span{
  color: #333333;
}

.generalForm span.desc, #extra_skill span.desc {
  color: #888;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
}

.tagimg{
  margin-right: 10px;
  margin-bottom:10px
}
div.content.about{padding:40px;}
div.content h1{font-size:3em;}
div.content.about h3{
  color:#2c89a0;
  padding-bottom:20px;
}
div.content.about #slider {height: 300px; border:2px solid #2c89a0;}
div.content.about #top div{padding-left:40px;}
div.content.about #middle {border-left:3px dashed #2c89a0;border-right:3px dashed #2c89a0;}
div.content.about #top div{
  display:inline;
  width:200px;
  height:300px;
  margin:10px;
  
  background:#FFF;
  float:left;
}
div.clear{
  clear:both;
}

#info{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #FDFFE3;
  padding: 20px 5px 20px 5px;
  margin-top: 20px;
  width:200px;
  height:123px;
}

#info ul{
  margin: 0;
}

#info h2{
  color: #005B60;
  font-size: 16px;
  margin-left: 15px;
}

#info li a{
  font-family: georgia, helvetica neue;
  color: #333333;
  font-size: 12px;
  padding:10px 0;
  line-height:20px;
  text-decoration: none;
}

#info li a:hover{
  font-family: georgia, helvetica neue;
  color: #005B60;
  text-decoration: underline;
}
.button.contact {
  display:block;
  margin:auto;
  text-align:center;
  font-size:1.5em;
}
#trigger {
  color:#fff;
  padding:50px 70px;
}
#terms_trigger {
  color:#fff;
  padding:50px 10px 80px 30px;
}
#privacy_trigger {
  color;
  padding:50px 10px 80px 30px;
}
.overlay {

  display:none;
	z-index:10000;
	background-color:#FFF;
	min-height:200px;
	border:1px solid #666;
  -moz-box-shadow:0 0 20px 5px #222;
  -webkit-box-shadow: 0 0 20px #222;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  	
  width:440px;	
  padding:10px;
  font-size:11px;
}
.overlay.terms { 
  width:760px;
  height:400px;
}
.overlay.terms div{
  overflow-y:auto;
  height:400px;
}
.overlay p{
  color: #666;    
}
.overlay .big{
  display:block;
  float:right;
  padding:10px 30px;
  margin-top:-10px;
}
.overlay .center {
  margin: 95px 0 0 200px;
}
.overlay.contact {
    padding:20px;
    width: 780px;
    font-size:11px;
    color:#666;
}
.overlay.contact #captcha{
  position:relative;
  top:-8px;
  right:3px;
}
.overlay #side {
    float:right;
    width:200px;
    padding:40px 120px 0 0;
}
.overlay #registration {
    position:relative;
    top:-20px;
    height: 405px;
}
.overlay #registration label {
    margin-top: 10px;    
}

.overlay.new_user input[type=text], .overlay.new_user input[type=password]{
  height:30px;
  width:363px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom:5px!important;
}

.overlay .overlay_form {
    width:780px;
}
.registration_left {
    width: 380px;
    float: left;    
}
.registration_right {
    width: 380px;
    float: right;    
}
.registration_right textarea {
    height: 150px!important;
}
.registration_left p.desc {
    color: #666;
    font-size: 11px;
    padding-top:36px;
    font-style: italic;
    font-weight: normal;
}

.sign_in_box p{
    display:block;
    width:200px;
    padding: 8px;
    background-color: #E0EBEB;
}

.overlay.contact h3 {
  padding-top:5px;
  padding-bottom:19px;
  font-size:20px;
  color:#00575A;
}
.overlay.contact input[type=text], .overlay.contact input[type=password]{
  height:30px;
  width:363px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom:20px;
}
.overlay.contact label {
  margin-top:22px;
  font-size:18px;
  margin-bottom:0px;
}

.overlay textarea {
  margin-top:0;
	width: 355px;
  height: 160px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.overlay #user_submit {
  font-size:16px;
}
.overlay.contact #user_info a{float:right;}
.overlay.contact #user_info{
  padding-top:3px;

}
.overlay.contact .option{
  position:absolute;
  bottom:0px;
  font-size:12px;
  left:20px;
  display:block;
}

/* default close button positioned on upper right corner */
a.close {
  background-image:url(/images/overlay/close.png);
  position:absolute; 
  right:-15px;
	top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
}

div#formatting_guide table {
  margin: 15px 0 15px 0;
  background: #fff;
  color: #666;
}

div#formatting_guide table th {
  text-align: left;
  border: 1px solid #ddd;
  padding: 5px;
  font-weight: normal;
  background: #304F4F;
  color: #fff;
}

div#formatting_guide table td {
  border: 1px solid #ddd;
  font-size: 12px;
  padding: 3px 5px;
}

div#formatting_guide table td ol,
div#formatting_guide table td ul {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

div#formatting_guide table td blockquote {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

div#formatting_guide table td h1 {
  font-size: 130%;
}

div#formatting_guide table td h2 {
  font-size: 100%;
}

div#formatting_guide table td h3 {
  font-size: 100%;
}
/*Scrol Wizard */

/* scrollable root element */
#wizard {	
	background:#fff url(/img/global/gradient/h600.png) repeat scroll 0 0;
	font-size:12px;
	height:440px;
	margin:20px auto;	
	width:780px;
	overflow:hidden;
	position:relative;
	
	/* rounded corners for modern browsers */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}  

/* scrollable items */
#wizard .items {
	width:20000em;	
	clear:both;	
	position:absolute;	
}

/* single item */
#wizard .page {	
	padding:2px;
	width:780px;
	float:left;	
}

/* title */
#wizard h2 {
	border-bottom:1px dotted #ccc;
	font-size:22px;
	font-weight:normal;
	margin:10px 0 0 0;
	padding-bottom:15px;		
}

#wizard h2 em {
	display:block;
	font-size:14px;
	color:#666;
	font-style:normal;
	margin-top:5px;
}

/* input fields */
#wizard ul {
	padding:0px !important;
	margin:0px !important;
}

#wizard li {
	list-style-type:none;
	list-style-image:none;
	margin-bottom:25px;	
}

#wizard label {
	font-size:16px;	
	display:block;
}

#wizard label strong {
	color:#789;	
	position:relative;
	top:-1px;
}

#wizard label em {
	font-size:11px;
	color:#666;	
	font-style:normal;
}

#wizard .text {
	width:100%;
	padding:5px;
	border:1px solid #ccc;
	color:#456;
	letter-spacing:1px;
}

#wizard select {
	border:1px solid #ccc;
	width:94%;	
	padding:4px;
}

#wizard label span {
	color:#b8128f;
	font-weight:bold;
	position:relative;
	top:4px;
	font-size:20px;
}

#wizard .double label { 
	width:50%;
	float:left;
}

#wizard .double .text {
	width:93%;	
}

#wizard .clearfix {
	clear:left;
	padding-top:10px;	
}

#wizard .right {
	float:right;		
}

/* validation error message bar */
#drawer {
	background:#fff url(/img/global/gradient/h80.png) repeat-x scroll 0 0;
	_background-color:#fff;
	overflow:visible;
	position:fixed;	
	left:0;
	top:0;
	text-align:center;
	padding:15px;
	font-size:18px;
	border-bottom:2px solid #789;
	width:100%;
	display:none;
	z-index:2;
}

#wizard .error {
	border:1px solid red;		
}

#wizard #status {
	margin:0px !important;
	height:35px;
	background:#123 url(/img/global/gradient/h30.png) repeat-x;
	padding-left:25px !important;
	_background:#123;
}

#status li {
	list-style-type:none;
	list-style-image:none;
	float:left;
	color:#fff;
	padding:10px 30px;
}

#status li.active {
	background-color:#b8128f;
	font-weight:normal;		
}




/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
  background:url(../img/scrollable/arrow/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:40px 10px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down		{ 
	background:url(../img/scrollable/arrow/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	

