/* For IE <= 7*/
#header a.twitter span {
  z-index:0;
  padding-top:10px!important;
  right:-22px!important;
}
.mainContent input[type=text],.mainContent input[type=password]{
  height:27px;
  padding-top:8px;
}
.descriptionForm textarea{
  width:630px;
  height:242px;
  padding-top:8px;
}
div.open_wrapper {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF3F6', endColorstr='#FFFFFF',GradientType=0 )!important;
}
div#about #welcome .link{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304F4F', endColorstr='#1C3030',GradientType=0 )!important;
}
div#about #welcome #top h1{
  padding-top:9px;
}
div#about{
  height:740px;
}
div#about #bottom_line{
  bottom:33px;
}
.button{
  display:inline-block;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304F4F', endColorstr='#1C3030',GradientType=0 )!important;
}

#footer div{
  width:970px;
}

div#about #bottom .box{background:#F3F8FA;}
div#about #bottom #box3{
  top:0;
  background:#f3f8fa;
}
.mainContent input[type=checkbox] {
  position:relative;
  top:0px;
}
#mainMenu input[type=checkbox] {
  position:relative;
  top:3px;
}
div.span-20.prepend-5.last .calltoAction input { margin-top:20px;}
.shadow.company_profile {
  background: #FFF;
  background: url('/images/line.png') no-repeat;
  background-position:bottom;
}
.shadow.job {
  background: #FFF;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=120,strength=7);
}
#skills li span.links{
  position:relative;
  top:-20px;
}

#skills li{
  height:22px;
  background: #FFF;
  padding: 5px;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#666666,direction=120,strength=3);

}
.mainContent.span-24, .mainContent.span-23 {
  background:#fff;
  margin-top: -5px;
      filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=300,strength=3)      
        progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=120,strength=7);

}



.mainContent ul.posts li {postition:relative;left:0px;}
div#header {z-index:4;}
div#contacto p span {position:relative;right:10px;bottom:40px;}

#flash_notice, #flash_error, #flash_alert {
      filter: alpha(opacity=50);
}


