html {
	background:url("../images/bkg_pattern.png") repeat 0 0;
}

body {
	background:url("../images/bkg_line_pattern.png") repeat-x 0px 34px;
	
}http://localhost:3000/availablehttp://localhost:3000/available
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: normal;
  src: local('Arvo'), url('http://themes.googleusercontent.com/font?kit=MViwy4K6e56oHcyeMzjbCQ') format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: bold;
  src: local('Arvo Bold'), local('Arvo-Bold'), url('http://themes.googleusercontent.com/font?kit=F-uvpIj1hF17IDyvQvI50Q') format('truetype');
}


h1,h2,h3,h4,h5,h6 { color: #333; font-family:'Arvo', arial, serif !important; }
.container{position:relative;}
#header {
	font-family: 'Arvo', arial, serif;
	height:144px;
}
#header .topMenu {
	text-transform:uppercase;
	color:#99BEC0;
	font-size:110% !important;
	display:block;
	height:30px;
}
#header .topMenu li {
	display:block;
	border-right:1px solid #99BEC0;
	padding-top:10px;
	float:right;
	margin:-1px 0 2px 0;
}
#header .topMenu a {
	color:#99BEC0;
	text-decoration:none;
}
#header .topMenu a span {
	padding:10px 10px 2px 15px;
}
#header .topMenu a:hover span {
	background:url("../images/bkg_topMenu.png") repeat-x 0 0;
	/*background:transparent;
	-moz-box-shadow:inset 0 0 10px #000000;
	-webkit-box-shadow:inset 0 0 10px #000000;
	box-shadow:inset 0 0 10px #000000;*/
}
#header .logo {
	position: relative;
	top:-18px;
}

/*Flash and Errors*/
#flash_notice, #flash_error, #flash_alert {
    position: absolute;
    top: 40px;
    left: 200px;
    color: #CC0000;
}



#mainMenu {
	text-transform:lowercase;
	display:block;
	margin:54px 0 0 250px;
	padding:0px 0px 0px 0px !important;
	position:absolute;
	top:30px;
}
#mainMenu li {
	text-transform:lowercase;
	display:block;
	float:left;
	font-size:160%;
	color:#99CC00;
	margin-right:15px;
}
#mainMenu li label {
	padding-top:4px;
	margin-left: 4px;
}
.mainContent.span-23 {
    padding:20px;
    padding-top: 30px;
    margin-bottom:10px;
    background:#eee;    
}

/*================== HERE COMES THE CONTENT STYLES ====================*/

.mainContent {
	background:#fff;
	-moz-box-shadow: 1px 2px 9px #000;
	-webkit-box-shadow: 1px 2px 9px #000;
	box-shadow: 1px 2px 9px #000;
}

.mainContent ul.posts {
	margin:0px;
	padding:0px;
}

.mainContent ul.posts li {
	border-bottom:1px solid #132E43;
	-moz-box-shadow: 0px 3px 7px #000;
	-webkit-box-shadow: 0px 3px 7px #000;
	box-shadow: 0px 3px 7px #000;
	height:180px;
}
#test{display:inline;float:left;}

.mainContent a h1 {
	margin-bottom:0.2em !important;
}

.mainContent a:hover h1 {
	color:#CC3333;
}

.mainContent a h1, .mainContent a p {
	display:block;
	padding-left:26px;
	text-decoration:none;
}

.mainContent a div img {
	border-left:1px solid #132E43;
	margin-bottom:15px;
	padding:10px 0 0 0;
}

.mainContent a p {
	color:#666;
}


/*================== HERE COMES THE FOOTER STYLES ====================*/
#footer {
	padding:12px 0 44px;
}
#footer ul {
	padding:0;
}
#footer ul li {
	float:left;
	margin-right:20px;
}
#footer ul li a {
	color:#CCCC00;
	text-decoration:none;
	text-transform:uppercase;
}
#footer ul li a:hover {
	text-decoration:underline;
}
/*Form CSS3*/
/*
input, textarea { 
	padding: 9px;
	border: solid 1px #D4D4D4;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 15px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.form label { 
	margin-left: 10px; 
	color: #999999; 
	}

 input.submit  {
	width: auto;
	padding: 9px 15px;
	background: #2c89a0;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}


*/
