/* For IE 7*/
#header a.twitter span {
  padding-top:11px!important;
  right:-22px!important;
}
.shadow {float:left; display:block; background:#000; margin:-5px -5px; filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4', MakeShadow='true', ShadowOpacity='0.60');}

