/* For IE 7*/
#header a.twitter span {
  padding-top:11px!important;
  right:-22px!important;
}
.shadow {
	text-shadow:#339966 0.1em 0.2em 0.2em;
	filter: progid:DXImageTransform.Microsoft.Shadow(color="#339966", direction=150, strength=3, positive="true");
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color='#339966', direction=150, strength=3, positive='true')";
	zoom:1;
}

