<%= stylesheet_link_tag "jquery-ui", "JScrollbar.jquery" %>
<% javascript 'overlay', 'lightbox','jquery-mousewheel', 'jScrollbar.jquery'%>

<div class="content">


  <!-- Scrolling content container -->
  <div class="terms_of_use">
    <h1>Aviso de Privacidad</h1>
    <%= render 'privacidad'%>
  </div>



</div>

