<div class='filters full'>
  <div class='container'>
  <%= label_tag  '', 'Filtra tu búsqueda por: ', :class => 'description' %>
  <ul id="mainMenu">
    <li><input type="checkbox" id="full_time" checked="true"><label for="full_time">Tiempo completo</label></li>
    <li><input type="checkbox" id="part_time" checked="true"><label for="part_time">Medio tiempo</label></li>
    <li><input type="checkbox" id="flexible" checked="true"><label for="flexible">Horario flexible</label></li>
    <li><input type="checkbox" id="remote" checked="true"><label for="remote">Remoto</label></li>
  </ul>
    </div>
</div>
