<div  class="span-19 last">
  <%= form_tag('jobs') do%>
  <ul id="mainMenu">
    <li><input type="checkbox" id="full_time" checked="true"><label for="fullTime">tiempo completo</label></li>
    <li><input type="checkbox" id="part_time" checked="true"><label for="halfTime">medio tiempo</label></li>
    <li><input type="checkbox" id="flexible" checked="true"><label for="flexTime">horario flexible</label></li>
    <li><input type="checkbox" id="remote" checked="true"><label for="offShore">remoto</label></li>
  </ul>
  <% end %>
</div>
