<div  class="span-19 last">
  <ul id="mainMenu">
    <li><input type="checkbox" id="full_time" ><label for="fullTime">tiempo completo</label></li>
    <li><input type="checkbox" id="part_time" ><label for="halfTime">medio tiempo</label></li>
    <li><input type="checkbox" id="flexible" ><label for="flexTime">horario flexible</label></li>
    <li><input type="checkbox" id="remote" ><label for="offShore">remoto</label></li>
    
    <!-- <li>
      <label for="state">por estado</label>
      <select name="estado" id="estado">
    					<option value="0">-- Todos --</option>
    					<option value="1,6">Aguascalientes</option>
    					<option value="2,1">Baja California</option>
    					<option value="3,1">Baja California Sur</option>
    					<option value="4,8">Campeche</option>
    					<option value="5,8">Chiapas</option>
    					<option value="6,3">Chihuahua</option>
    					<option value="7,4">Coahuila</option>
    					<option value="8,5">Colima</option>
    					<option value="9,9">Distrito Federal</option>
    					<option value="10,3">Durango</option>
    					<option value="11,9">Estado de México</option>
    					<option value="12,6">Guanajuato</option>
    					<option value="13,7">Guerrero</option>
    					<option value="14,9">Hidalgo</option>
    					<option value="15,5">Jalisco</option>
    					<option value="16,5">Michoacán</option>
    					<option value="17,9">Morelos</option>
    					<option value="18,5">Nayarit</option>
    					<option value="19,4">Nuevo León</option>
    					<option value="20,7">Oaxaca</option>
    					<option value="21,7">Puebla</option>
    					<option value="22,6">Querétaro</option>
    					<option value="23,8">Quintana Roo</option>
    					<option value="24,6">San Luis Potosí</option>
    					<option value="25,2">Sinaloa</option>
    					<option value="26,2">Sonora</option>
    					<option value="27,8">Tabasco</option>
    					<option value="28,4">Tamaulipas</option>
    					<option value="29,7">Tlaxcala</option>
    					<option value="30,7">Veracruz</option>
    					<option value="31,8">Yucatán</option>
    					<option value="32,6">Zacatecas</option>
    	</select>
    </li> -->
  </ul>
</div>
