<table>
    <tr>
      <th>Para obtener este resultado&hellip;</th>
      <th>Escribe esto&hellip;</th>
    </tr>
    <tr>
      <td>
        <strong>Bold phrase</strong>
      </td>
      <td>
        *Bold phrase*
      </td>
    </tr>
    <tr>
      <td>
        <span style="font-style: italic;">Italic phrase</span>
      </td>
      <td>
        _Italic phrase_
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>Bulleted list</li>
          <li>Bulleted list</li>
        </ul>
      </td>
      <td>
          * Bulleted list<br />
          * Bulleted list
      </td>
    </tr>
    <tr>
      <td>
        <ol>
          <li>Numbered list</li>
          <li>Numbered list</li>
        </ol>
      </td>
      <td>
          # Numbered list<br />
          # Numbered list
      </td>
    </tr>
    <tr>
      <td>
        <blockquote>Indented block</blockquote>
      </td>
      <td>
          bq. Indented block
      </td>
    </tr>
    <tr>
      <td><h1>Big header</h1></td>
      <td>h1. Big header</td>
    </tr>
    <tr>
      <td><h2>Normal header</h2></td>
      <td>h2. Normal header</td>
    </tr>
    <tr>
      <td><a href="http://www.innku.com">Innku</a></td>
      <td>"Innku":http://www.innku.com</td>
    </tr>
</table>
