<table>
    <tr>
      <th>Para obtener este resultado&hellip;</th>
      <th>Escribe esto&hellip;</th>
    </tr>
    <tr>
      <td>
        <strong>Texto en negritas</strong>
      </td>
      <td>
        *Texto en negritas*
      </td>
    </tr>
    <tr>
      <td>
        <span style="font-style: italic;">Italicas</span>
      </td>
      <td>
        _Italicas_
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>Lista con bullets</li>
          <li>Lista con bullets</li>
        </ul>
      </td>
      <td>
          * Lista con bullets<br />
          * Lista con bullets
      </td>
    </tr>
    <tr>
      <td>
        <ol>
          <li>Numbered list</li>
          <li>Numbered list</li>
        </ol>
      </td>
      <td>
          # Lista numerada<br />
          # Lista numerada
      </td>
    </tr>
    <tr>
      <td>
        <blockquote>Bloque</blockquote>
      </td>
      <td>
          bq. Bloque
      </td>
    </tr>
    <tr>
      <td><h1>Título grande</h1></td>
      <td>h1. Título grande</td>
    </tr>
    <tr>
      <td><h2>Título normal</h2></td>
      <td>h2. Título normal</td>
    </tr>
    <tr>
      <td><a href="http://www.innku.com">Innku</a></td>
      <td>"Innku":http://www.innku.com</td>
    </tr>
</table>
